### SQL

Perfect ðŸ’ª â€” thatâ€™s a classic SQL interview question used to test your ability to use **aggregate functions**, **window functions**, and **filtering logic**.

Letâ€™s break it down clearly ðŸ‘‡

---

## ðŸ§© **Scenario**

You have a table named **`sales`** with columns like:

| Column         | Description                 |
| -------------- | --------------------------- |
| `product_id`   | ID of the product           |
| `product_name` | Name of the product         |
| `revenue`      | Total revenue for each sale | qty * 
| `sale_date`    | Date of the sale            |

---

## ðŸŽ¯ **Goal**

Get the **Top 3 products based on total revenue** for a **particular month** (say, `'2025-09'`).

---

## âœ… **Step 1: Aggregate by product for that month**

```sql
SELECT
    product_id,
    product_name,
    SUM(revenue) AS total_revenue
FROM sales
WHERE DATE_FORMAT(sale_date, '%Y-%m') = '2025-09'
GROUP BY product_id, product_name;
```

This gives total revenue per product for September 2025.

---

## âœ… **Step 2: Rank products based on total revenue**

Use **window function (RANK / DENSE_RANK)**:

```sql
SELECT
    product_id,
    product_name,
    total_revenue,
    RANK() OVER (ORDER BY total_revenue DESC) AS revenue_rank
FROM (
    SELECT
        product_id,
        product_name,
        SUM(revenue) AS total_revenue
    FROM sales
    WHERE DATE_FORMAT(sale_date, '%Y-%m') = '2025-09'
    GROUP BY product_id, product_name
) AS monthly_sales;
```

---

## âœ… **Step 3: Get Top 3 products**

```sql
SELECT
    product_id,
    product_name,
    total_revenue
FROM (
    SELECT
        product_id,
        product_name,
        SUM(revenue) AS total_revenue,
        RANK() OVER (ORDER BY SUM(revenue) DESC) AS rnk
    FROM sales
    WHERE DATE_FORMAT(sale_date, '%Y-%m') = '2025-09'
    GROUP BY product_id, product_name
) ranked_sales
WHERE rnk <= 3
ORDER BY total_revenue DESC;
```

---

## ðŸ§  **Explanation**

| Step | Logic                                                                               |
| ---- | ----------------------------------------------------------------------------------- |
| 1ï¸âƒ£  | Filter for a particular month (`WHERE DATE_FORMAT(sale_date, '%Y-%m') = '2025-09'`) |
| 2ï¸âƒ£  | Aggregate revenue per product                                                       |
| 3ï¸âƒ£  | Rank products based on revenue                                                      |
| 4ï¸âƒ£  | Pick top 3 ranks                                                                    |

---

## âš¡ **Alternative (If DB supports LIMIT/TOP)**

### In MySQL / PostgreSQL

```sql
SELECT
    product_id,
    product_name,
    SUM(revenue) AS total_revenue
FROM sales
WHERE DATE_FORMAT(sale_date, '%Y-%m') = '2025-09'
GROUP BY product_id, product_name
ORDER BY total_revenue DESC
LIMIT 3;
```

### In SQL Server

```sql
SELECT TOP 3
    product_id,
    product_name,
    SUM(revenue) AS total_revenue
FROM sales
WHERE FORMAT(sale_date, 'yyyy-MM') = '2025-09'
GROUP BY product_id, product_name
ORDER BY total_revenue DESC;
```

---

## ðŸ§© **Optional Enhancement â€” Month Parameterization**

To make it dynamic:

```sql
DECLARE @month_param CHAR(7) = '2025-09';

SELECT
    product_id,
    product_name,
    SUM(revenue) AS total_revenue
FROM sales
WHERE FORMAT(sale_date, 'yyyy-MM') = @month_param
GROUP BY product_id, product_name
ORDER BY total_revenue DESC
OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY;
```

---

Would you like me to show the **same logic in PySpark** (for Databricks or AWS Glue interviews)? Itâ€™s often the next question right after this SQL one.