In [ ]:
# SQL 
# Order of SQL QUery Execution 
# select,from,join, groupby , where , having --> write it in order

In [ ]:
# Optimization
# Tell me what optimization u have done in your project

In [ ]:
# GCP
# Do u know any service of GCP ( BigQuery , )

In [ ]:
# Pyspark Optimization
# We have these lines of codes 

df1 = spark.read 
df2 = spark read data 

joined  = df1.join(df2)

joined.write.format()



## Now assume u have this much codebase only and its processing TBs of data 
## U dont have to think about cluster 
## df1 and df2 are huge dataset, there is no small dataset here
## Just tell how would you omptimise this codeabase, as its taking 10 hours to complete , and we want it to reduce it to 4 hours ?

### SQL Problem 
-- create a table

CREATE TABLE temp(id integer,country TEXT,value integer);

INSERT INTO temp VALUES ('1','US','10');

INSERT INTO temp VALUES ('1','UK','5');

INSERT INTO temp VALUES ('1','GE','5');

INSERT INTO temp VALUES ('1','Global','10');

INSERT INTO temp VALUES ('2','IND','10');

INSERT INTO temp VALUES ('2','Japan','5');

INSERT INTO temp VALUES ('2','US','20');
 


-- Output:

-- +------+-------+

-- | id   | total |

-- +------+-------+

-- |    1 |    10 |  // bcz Global exists so taking only global value

-- |    2 |    35 |  // bcz global doesnot exists so taking all values sum

-- +------+-------+

In [ ]:




SELECT 
    id,
    CASE 
        WHEN SUM(CASE WHEN country = 'Global' THEN 1 ELSE 0 END) > 0 
              THEN MAX(CASE WHEN country = 'Global' THEN value END) 
        ELSE SUM(value)
    END AS total
FROM temp
GROUP BY id;

1     [ uk, global, ,ge, ine 
ID  = [ 0 , 10 , 1, 0 , 0 ]




group by ---> 1